In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_excel('C:/Users/Akshay-Laptop/Desktop/practice/Doctor_fee_consultation/Final Participant Data Folder/Final_Train.xlsx')
data.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250

In [3]:
data.dtypes

Qualification         object
Experience            object
Rating                object
Place                 object
Profile               object
Miscellaneous_Info    object
Fees                   int64
dtype: object

In [4]:
data.isnull().sum()

Qualification            0
Experience               0
Rating                3302
Place                   25
Profile                  0
Miscellaneous_Info    2620
Fees                     0
dtype: int64

In [5]:
data.shape

(5961, 7)

In [6]:
data.Experience.value_counts()

9 years experience     323
10 years experience    294
11 years experience    288
8 years experience     282
12 years experience    279
19 years experience    251
14 years experience    251
13 years experience    242
7 years experience     240
6 years experience     218
15 years experience    200
5 years experience     188
16 years experience    186
18 years experience    184
17 years experience    179
20 years experience    156
21 years experience    154
22 years experience    147
23 years experience    119
4 years experience     115
3 years experience     111
24 years experience     97
0 years experience      87
27 years experience     84
28 years experience     82
25 years experience     82
26 years experience     71
2 years experience      69
30 years experience     68
29 years experience     67
                      ...
39 years experience     57
31 years experience     55
37 years experience     55
35 years experience     52
40 years experience     46
36 years experience     46
42 years experience     42
43 years experience     40
41 years experience     36
44 years experience     32
46 years experience     27
45 years experience     21
49 years experience     14
47 years experience     11
48 years experience     11
51 years experience     11
50 years experience      9
54 years experience      5
52 years experience      4
55 years experience      3
56 years experience      3
53 years experience      3
57 years experience      2
65 years experience      1
66 years experience      1
59 years experience      1
61 years experience      1
64 years experience      1
58 years experience      1
60 years experience      1
Name: Experience, Length: 64, dtype: int64

In [7]:
for i in range(0,len(data)):
    data['Experience'].loc[i]=data['Experience'].loc[i][0:2]

KeyboardInterrupt:

In [ ]:
data.Experience=data.Experience.astype('int64')

In [ ]:
bins=[0,10,20,30,40,50,60]
group_names=['less_than_10','10-20Yrs','20-30yrs','30-40yrs','40-50yrs','more_than_50']
data['experience']=pd.cut(data['Experience'],bins,labels=group_names)

In [ ]:
data.experience

In [ ]:
plt.figure(figsize=(15,7))
sns.boxplot(data.experience,data.Fees,palette='Set2')
plt.axhline(data['Fees'].mean(),color='r',linestyle='dashed',linewidth=2)

In [ ]:
def experience(col):
    experience=col[0]
    fees=col[1]
    if pd.isnull(experience):
        if (fees>200 & fees<280):
            return 'less_than_10'
        elif (fees>280 & fees<400):
            return '10-20yrs'
        elif (fees>100 & fees<150):
            return '40-50yrs'
        elif (fees>150 & fees<200):
            return 'more_than_50'
        else:
            return '10-20yrs'
    else:
        return experience

In [ ]:
data['experience']=data[['experience','Fees']].apply(experience,axis=1)

In [ ]:
data.experience.value_counts()

In [ ]:
data.Rating.value_counts()

In [ ]:
plt.figure(figsize=(20,7))
sns.boxplot(data.Rating,data.Fees)

In [ ]:
data.Rating.fillna('60%',inplace=True)

In [ ]:
import re
rating=[]
for i in data['Rating']:
    i=re.sub('%','',i)
    rating.append(i)

In [ ]:
data['rating']=pd.DataFrame({'rating':rating})

In [ ]:
data.head()

In [ ]:
data.Miscellaneous_Info.value_counts()

In [ ]:
data.drop('Miscellaneous_Info',axis=1,inplace=True)

In [ ]:
data.head()

In [ ]:
data.Place.value_counts()

In [ ]:
data.Place.isnull().sum()

In [ ]:
data.Place.fillna('value ,missing ,',inplace=True)

In [ ]:
def split(string):
    string=re.sub(r'[^A-Za-z]',' ',string)
    string=re.sub(r'\s+',' ',string)
    string=string.split()
    string=string[-1]
    return string

In [ ]:
data['place']=data['Place'].apply(split)

In [ ]:
data.head(50)

In [ ]:
data.place.value_counts()

In [ ]:
data=data[data.place!='e']

In [ ]:
data.place.value_counts()

In [ ]:
def split(string):
    string=re.sub(r'[^A-Za-z]',' ',string)
    string=re.sub(r'[-]','',string)
    string=re.sub(r'\s+',' ',string)
    string=string.split()
    string=string[-1]
    return string

In [ ]:
data['Qual']=data['Qualification'].apply(split)

In [ ]:
data.Qual.value_counts()

In [ ]:
data.head()

In [ ]:
data.rating=data.rating.astype('int64')

In [ ]:
data_new=data.drop(['Qualification','Experience','Rating','Place'],axis=1)

In [ ]:
data_new.head()

In [ ]:
data_new1=pd.get_dummies(data_new,drop_first=True)

In [ ]:
data_new1.shape

In [ ]:
data_new1.head()

In [ ]:
test=pd.read_excel('C:/Users/Akshay-Laptop/Desktop/practice/Doctor_fee_consultation/Final Participant Data Folder/Final_Test.xlsx')
test.head()

In [ ]:
for i in range(0,len(test)):
    test['Experience'].loc[i]=test['Experience'].loc[i][0:2]

In [ ]:
test.Experience=test.Experience.astype('int64')

In [ ]:
bins=[0,10,20,30,40,50,60]
group_names=['less_than_10','10-20Yrs','20-30yrs','30-40yrs','40-50yrs','more_than_50']
test['experience']=pd.cut(test['Experience'],bins,labels=group_names)

In [ ]:
test.experience

In [ ]:
test.Rating.fillna('60%',inplace=True)

In [ ]:
import re
rating=[]
for i in test['Rating']:
    i=re.sub('%','',i)
    rating.append(i)

In [ ]:
test['rating']=pd.DataFrame({'rating':rating})

In [ ]:
test.drop('Miscellaneous_Info',axis=1,inplace=True)

In [ ]:
test.head()

In [ ]:
test.Place.fillna('value ,missing ,',inplace=True)

In [ ]:
test['place']=test['Place'].apply(split)

In [ ]:
test=test[test.place!='e']

In [ ]:
test['Qual']=test['Qualification'].apply(split)

In [ ]:
test.rating=test.rating.astype('int64')

In [ ]:
test.head()

In [ ]:
test.isnull().sum()

In [ ]:
test.shape

In [ ]:
test.dropna(inplace=True)

In [ ]:
test_new=test.drop(['Qualification','Experience','Rating','Place'],axis=1)

In [ ]:
test_new.head()

In [ ]:
test_new=pd.get_dummies(test_new,drop_first=True)

In [ ]:
data_new1.shape,test_new.shape

In [ ]:
data_in=data_new1.drop('Fees',axis=1)
data_op=data_new1.Fees

In [ ]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
from sklearn.model_selection import KFold

In [ ]:
from sklearn.model_selection import cross_val_score as cvs
from sklearn.model_selection import train_test_split as tts

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as mse
lr=LinearRegression()
max_score=0
for i in range(0,100):
    x_train,x_test,y_train,y_test=tts(data_in,data_op,random_state=i,test_size=0.20)
    lr.fit(x_train,y_train)
    y_pred=lr.predict(x_test)
    rscore=r2_score(y_test,y_pred)
    print('at random state {} r2score is:{}'.format(i,rscore))
    if rscore>max_score:
            max_score=rscore
            final_state=i
print('Max_score is :',max_score,'at',final_state)

In [ ]:
from sklearn.ensemble import RandomForestRegressor as RFR
RFR=RFR(random_state=40)
RFR.fit(x_train,y_train)

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters=[{'random_state':range(0,100),'max_depth':range(2,10)}]
grid_search=GridSearchCV(estimator=RFR,param_grid=parameters,scoring='r2',cv=10,n_jobs=-1)
grid_search=grid_search.fit(x_train,y_train)

In [ ]:
print(grid_search.best_params_)
score=grid_search.best_score_
score

In [ ]:
from sklearn.ensemble import RandomForestRegressor as RFR
RFR=RFR(random_state=60,max_depth=9)
RFR.fit(x_train,y_train)
y_pred=RFR.predict(x_test)
train_pred=RFR.predict(x_train)
rscore=r2_score(y_test,y_pred)
rscore1=r2_score(y_train,train_pred)
kf = KFold(shuffle=True, n_splits=10)
cv=cvs(RFR,data_in,data_op,cv=kf,scoring='r2')
print('rscore for testing data:',rscore)
print('rscore for training data:',rscore1)
print('Cross val score:',cv)
print('Mean cv:',np.mean(cv))

In [ ]:
fees=pd.DataFrame({'Actual Fees':y_test,'Predicted Fees':y_pred})
fees.to_csv('project18_op.csv')

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
KNR=KNeighborsRegressor(n_neighbors=5,leaf_size=30)
KNR.fit(x_train,y_train)

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters=[{'n_neighbors':range(3,20),'weights':['uniform','distance'],'leaf_size':[30,50,100]}]
grid_search=GridSearchCV(estimator=KNR,param_grid=parameters,scoring='r2',cv=10,n_jobs=-1)
grid_search=grid_search.fit(x_train,y_train)
print(grid_search.best_params_)
score=grid_search.best_score_
score

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor as GBR
GBR=GBR(alpha=0.1)

In [ ]:
GBR.fit(x_train,y_train)
y_pred=GBR.predict(x_test)
train_pred=GBR.predict(x_train)
rscore=r2_score(y_test,y_pred)
rscore1=r2_score(y_train,train_pred)
kf = KFold(shuffle=True, n_splits=10)
cv=cvs(GBR,data_in,data_op,cv=kf,scoring='r2')

In [ ]:
for i in range(0,1):
    print('rscore for testing data:',rscore)
    print('rscore for training data:',rscore1)
    print('Cross val score:',cv)
    print('Mean cv:',np.mean(cv))

In [ ]:
plot_k = sns.scatterplot(y_test, y_pred)
plot_k.set(xlabel='Given', ylabel='Prediction')
x_plot = np.linspace(0,500,10)
y_plot = x_plot
plt.plot(x_plot, y_plot, color='r')

In [ ]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
print('error:')
print('Mean absolute error of test data:',mean_absolute_error(y_test,y_pred))
print('Mean absolute error of train data:',mean_absolute_error(y_train,train_pred))
print('Mean squared error of test data:',np.sqrt(mean_squared_error(y_test,y_pred)))
print('Mean squared error of train data:',np.sqrt(mean_squared_error(y_train,train_pred)))

In [ ]:
from sklearn.tree import DecisionTreeRegressor as DTC
DTC=DTC()
DTC.fit(x_train,y_train)

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters=[{'random_state':range(0,100),'max_depth':range(2,11)}]
grid_search=GridSearchCV(estimator=DTC,param_grid=parameters,scoring='r2',cv=10,n_jobs=-1)
grid_search=grid_search.fit(x_train,y_train)
print(grid_search.best_params_)
score=grid_search.best_score_
score

In [ ]:
from sklearn.externals import joblib

In [ ]:
joblib.dump(RFR,'project18_RFR.pkl')